<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="js/validadorCPF.js"></script>
    <link rel="icon" href="icone.svg">
    <link rel="stylesheet" href="css/teste.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Cadastro</title>
</head>
<body>
<div style="margin-top: 10%" class="container">
    <div id="errorMessage" th:utext ="${mensagem}"></div>
    <h1 class="text-center">Cadastro</h1>

    <!-- <form action="/cadastro" method="post"> -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="sp_nome"><i class="fa-solid fa-user"></i></span>
            <input name="nome" id="nome" type="text" class="form-control" placeholder="Nome Completo" aria-label="Nome"
                   aria-describedby="sp_nome" th:value="${nome}">
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="sp_cpf"><i class="fa-solid fa-id-card"></i></span>
            <input name="cpf" id="cpf" type="text" class="form-control" placeholder="CPF" aria-label="Cpf"
                   aria-describedby="sp_cpf" th:value="${cpf}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="sp_telefone"><i class="fa-solid fa-square-phone"></i></span>
            <input name="telefone" id="telefone" type="text" class="form-control" placeholder="Telefone"
                   aria-label="telefone"
                   aria-describedby="sp_telefone" th:value="${telefone}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="sp_email"><i class="fa-solid fa-envelope"></i></span>
            <input name="email" id="email" type="email" class="form-control" placeholder="E-mail" aria-label="Email"
                   aria-describedby="sp_email" th:value="${email}">
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sp_senha"><i class="fa-solid fa-key"></i></span>
                    <input name="senha" id="senha" type="password" class="form-control" placeholder="Senha"
                           aria-label="senha"
                           aria-describedby="sp_senha" th:value="${senha}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sp_senha2"><i class="fa-solid fa-key"></i></span>
                    <input name="confirSenha" id="confirSenha" type="password" class="form-control" placeholder="Confirme a senha"
                           aria-label="sp_senha2"
                           aria-describedby="confirSenha">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button id="btnEnviar" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    <!-- </form> -->
</div>

<script type="text/javascript">

	function campoVazio(campo){
		if(campo == ''){
			return true;
		}else{
			return false;
		}
	}

	function validaEnvio(){
		let podeEnviar = true;
		let cpf = $("#cpf").val();
		let nome = $("#nome").val();
		let email = $("#email").val();
		let telefone = $("#telefone").val();
		let senha = $("#senha").val();
		let confirSenha = $("#confirSenha").val();

		$("#errorMessage").text("");
		if(!validarCPF(cpf)){
			podeEnviar = false;
			$("#errorMessage").append('CPF Inválido!');
		}
		if(campoVazio(nome)){
			podeEnviar = false;
			$("#errorMessage").append('O nome precisa ser preenchido!');
		}
		if(campoVazio(email) && campoVazio(telefone)){
			podeEnviar = false;
			$("#errorMessage").append('O e-Mail ou telefone precisa ser preenchido!');
		}
		if(campoVazio(senha) || senha != confirSenha){
			podeEnviar = false;
			$("#errorMessage").append('A senha precisa ser preenchida e igual a confirmação de senha!');
		}
		if(podeEnviar){
			$.ajax({
			    type: "POST",// Tipo da requisição
			    url: "/cadastro", // Caminho para envio da requisição
			    data: {
			        cpf:cpf,
					nome:nome,
					email:email,
					telefone:telefone,
					senha:senha,
					confirSenha:confirSenha
			    },
			    success: function (data) {
			        if (data.status == false) {
                        alert("Deu Ruim");
                    } else{
                        alert("Deu Bom");
                    }
			    },
			    error: function () {
			        alert("Falha na comunicacao com o servidor!");
			    }
			});
		}
	}

	$("#btnEnviar").click(validaEnvio);
</script>
</body>
</html>
